@model List<TuHobbyWeb.Models.Entities.ProductPlatform>
@{
    ViewBag.Title = "Listado de platafaormas registradas";
}

<div class="card mt-4">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="col-4">
                <a href="/Platforms/Create" class="btn btn-success float-right">Agregar Plataforma</a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Logo</th>
                <th>Cantidad de Juegos</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductPlatformName</td>
                    <td><img src="@item.ProductPlatformLogo" alt="@item.ProductPlatformName" width="200" /></td>
                    <td>@item.CountProducts</td>
                </tr>
       }
        </table>
    </div>
</div>