@model TuHobbyWeb.Models.ViewModels.ProductCreateViewModel
@{
    ViewBag.Title = "Crear un nuevo Producto";
}

<div class="card mt-5 bg-dark" style="max-width: 950px; box-shadow: 0px 0px 30px 15px #39A2DB; color: #A2DBFA; border-color: #39A2DB ">
    <div class="card-header" >
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="card-body">
        <form action="/product/create" method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label>Código:</label>
                <input type="text" class="form-control" name="ProductCode" value="@Model.ProductCode" />
                @Html.ValidationMessageFor(x => x.ProductCode, null, new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" class="form-control" name="ProductName" value="@Model.ProductName" />
                @Html.ValidationMessageFor(x => x.ProductName, null, new { @class = "text-danger" })
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Precio:</label>
                        <input type="text" class="form-control" name="ProductPrice" value="@Model.ProductPrice" />
                        @Html.ValidationMessageFor(x => x.ProductPrice, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Stock:</label>
                        <input type="text" class="form-control" name="ProductStock" value="@Model.ProductStock" />
                        @Html.ValidationMessageFor(x => x.ProductStock, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>   
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Plataforma:</label>
                        <select class="form-control" name="PlatformId">
                            <option value="">Selecione una Opción</option>
                            @foreach (var item in Model.ProductPlatforms)
                            {
                                <option value="@item.ProductPlatformId">@item.ProductPlatformName</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.PlatformId, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Imagen:</label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFile" name="ProductFile">
                                <label class="custom-file-label" for="inputGroupFile01">Elegir una imagen</label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(x => x.ProductFile, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-6">
                    <button type="submit" class="btn btn-info btn-block"><strong>Guardar <i class="fas fa-save"></i></strong></button>
                </div>
                <div class="col-6">
                    <button type="reset" class="btn btn-secondary btn-block"><strong>Limpiar formulario <i class="fas fa-eraser"></i></strong></button>
                </div>
            </div>
        </form>
    </div>
</div>