@model TuHobbyWeb.Models.ViewModels.ProductIndexViewModel
@{
    ViewBag.Title = "Gestión de Productos";
}

@if (Model.Products != null && Model.Products.Count > 0)
{
    <div class="card mt-5" style="box-shadow: 0px 0px 30px 5px #39A2DB;">
        <div class="card-header bg-dark" style="color: #A2DBFA; border-bottom: 2px solid black">
            <div class="row">
                <div class="col-8 align-self-center">
                    <h3>@ViewBag.Title</h3>
                </div>
                <div class="col-4">
                    <a href="/product/create" class="btn btn-info btn-lg float-right"><i class="fas fa-plus-square"></i></a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form action="/Product" method="GET">
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label><strong>Nombre:</strong></label>
                            <input type="text" name="ProductName" value="@Model.ProductName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label><strong>Plataforma:</strong></label>
                            <select name="PlatformId" class="form-control">
                                <option value="value">Seleccione una Plataforma</option>
                                @foreach (var item in Model.Platforms)
                                {
                                    if (item.ProductPlatformId == Model.PlatformId)
                                    {
                                        <option value="@item.ProductPlatformId" selected>@item.ProductPlatformName</option>
                                    }
                                    else
                                    {
                                        <option value="@item.ProductPlatformId">@item.ProductPlatformName</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <label><strong>Código:</strong></label>
                            <input type="text" name="ProductCode" value="@Model.ProductCode" class="form-control" />
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block" style="margin-top: 32px;">Filtrar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr class="bg-dark border" style="color: #A2DBFA; border-color: #39A2DB">
                    <th>Portada</th>
                    <th>
                        Código
                        <a href="/Product/index?sort=1" class="text-warning ml-1"><i class="fas fa-sort-up"></i></a>
                        <a href="/Product/index?sort=-1" class="text-warning"><i class="fas fa-sort-down"></i></a>
                    </th>
                    <th>
                        Nombre
                        <a href="/Product/index?sort=2" class="text-warning ml-1"><i class="fas fa-sort-up"></i></a>
                        <a href="/Product/index?sort=-2" class="text-warning"><i class="fas fa-sort-down"></i></a>
                    </th>
                    <th>
                        Precio
                        <a href="/Product/index?sort=3" class="text-warning ml-1"><i class="fas fa-sort-up"></i></a>
                        <a href="/Product/index?sort=-3" class="text-warning ml-1"><i class="fas fa-sort-down"></i></a>
                    </th>
                    <th>
                        Stock
                        <a href="/Product/index?sort=4" class="text-warning"><i class="fas fa-sort-up"></i></a>
                        <a href="/Product/index?sort=-4" class="text-warning"><i class="fas fa-sort-down"></i></a>
                    </th>
                    <th></th>
                </tr>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            <img src="@item.ProductImage" width="90" height="130"/>
                        </td>
                        <td>@item.ProductCode</td>
                        <td>@item.ProductName</td>
                        <td>@item.ProductPrice</td>
                        <td>@item.ProductStock</td>
                        <td>
                            <a href="/product/show?productId=@item.ProductId" class="btn btn-warning"><i class="fas fa-pencil-alt"></i></a>
                            <a href="/product/delete?productId=@item.ProductId" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger mt-3">
        <strong>Aún no se han registrado productos <a href="/product/create" class="btn btn-primary ml-3">Crea uno aquí</a></strong>
    </div>
}



