
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio de Sesión</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        @Html.Partial("_PartialMessage")
        <div class="card mt-5">
            <div class="card-header">
                <h3>Iniciar Sesión</h3>
            </div>
            <div class="card-body">
                <form action="/Auth/Login" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="Email" class="form-control" value="" />
                    </div>
                    <div class="form-group">
                        <label>Contraseña</label>
                        <input type="password" name="Password" class="form-control" value="" />
                    </div>
                    <button type="submit" class="btn btn-outline-success">Enviar</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="/auth/register">Registrate Aquí</a>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
