@model List<TuHobbyWeb.Models.Entities.Sale>
@{
    ViewBag.Title = "Listado de Ventas Registradas";
}

<div class="card mt-5" style="box-shadow: 0px 0px 30px 5px #39A2DB;">
    <div class="card-header bg-dark border" style="color: #A2DBFA; border-color: #39A2DB">
        <div class="row">
            <div class="col-8">
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="col-4">
                <a href="/Platforms/Create" class="btn btn-info btn-lg float-right"><i class="fas fa-plus-square"></i></a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr class="bg-dark border" style="color: #A2DBFA; border-color: #39A2DB">
                <th>Id de Venta</th>
                <th>Id de Cliente</th>
                <th>Total de Venta</th>
                <th>Fecha de la Venta</th>
            </tr>
            @foreach (var item in Model)
            {
                if (item.ConfirmedAt != null)
                {
                    <tr>
                        <td>@item.SaleId</td>
                        <td>@item.CustomerId</td>
                        <td>@item.SubTotal</td>
                        <td>@item.ConfirmedAt</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
